body{
    background-color: rgb(139, 177, 247);
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

#Container{
    background-color: white;
}

#navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-bottom: 100px;
    padding-top: 50px;
}
a{
    text-decoration: none;
}
#nav-bar1{
    display: flex;
    gap: 5px;
}

.google{
    width: 20px;
    height: 25px;
}

#nav-bar2{
    display: flex;
    gap: 20px;
}

#nav-bar3{
    display: flex;
    gap: 10px;
    margin-right: 50px;
}

button{
    background-color: cornflowerblue;
    height: 20px;
    border-radius: 20px;
}

#content{
    display: flex;
    gap: 400px;
    margin-left: 50px;
}

.image1{
    border-radius: 50%;
    height: 550px;

}

.icon{
    width: 30px;
    height:30px;
}

.icon1{
    width: 60px;
    height: 30px;
}

#icons{
    display: flex;
}

#CONTENT{
    background-color:rgb(225, 236, 236);
    margin-left: 50px;
    margin-right: 50px;
}

#CONT-A{
    margin-left: 650px;
    padding-top: 50px;

}

#CONT-B{
    display: flex;
    gap: 100px;
}

.GOOGLE{
    width: 150px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 50px;
}

@media screen and (min-width:280px) and (max-width: 460px) {

    #navbar{
        display: grid;
        justify-content: space-between;
        margin-left: 0px;
        margin-bottom: 0px;
        padding-top: 0px;
    }

    body{
        background-color: rgb(139, 177, 247);
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
       
    }

#nav-bar1{
    display: flex;
    gap: 0px;
}

#nav-bar2{
    display: grid;
    gap: 0px;
}

#content{
    display: grid;
    gap: 0px;
    margin-left: 0px;
    font-size: smaller;
}

.image1{
    border-radius: 50%;
    height: 150px;

}

#CONTENT{
    background-color:rgb(225, 236, 236);
    margin-left: 0px;
    margin-right: 0px;
}

#CONT-A{
    margin-left: 0px;
    padding-top: 0px;

}

#CONT-B{
    display: grid;
    gap: 0px;
}

.GOOGLE{
    width: 50%;
    height: 50px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 50px;
}
}